<div>
    <h1>Productos en tiempo real:</h1>
    <p id="productos"></p>
    <p id="hola"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/home.js"></script>

{{!-- <div class="form-container">
  <h1>Agregar Producto</h1>
  <form id="productForm" class="product-form">
    <div class="form-group">
      <label for="title">Título:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea id="description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="price">Precio:</label>
      <input type="number" id="price" name="price" required>
    </div>
    <div class="form-group">
      <label for="category">Categoría:</label>
      <input type="text" id="category" name="category" required>
    </div>
    <div class="form-group">
      <label for="thumbnail">URL de imagen:</label>
      <input type="text" id="thumbnail" name="thumbnail" required>
    </div>
    <div class="form-group">
      <label for="stock">Stock:</label>
      <input type="number" id="stock" name="stock" required>
    </div>
    <div class="form-buttons">
      <button type="submit" id="addProductBtn">Agregar Producto</button>
      <button type="button" id="deleteProductBtn">Eliminar Producto</button>
    </div>
  </form>
</div>

<div class="product-container">
  <h1>Productos en tiempo real:</h1>
  <div id="productos"></div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script> --}}

